[submodule "thirdparty/cereal"]
	path = thirdparty/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "thirdparty/dlib"]
	path = thirdparty/dlib
	url = https://github.com/davisking/dlib.git
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://github.com/RLovelett/eigen.git
