*.sublime-workspace
build
unused
.tags*
doc/paperscript/*/*.aux
doc/paperscript/*/*.fdb_latexmk
doc/paperscript/*/*.log
doc/paperscript/*/*.pdf
doc/paperscript/*/*.synctex.gz
*.state
backup
_backup
matlab/*.m
data/scripts
matlab/*.lib
matlab/*.mexw64
matlab/temp.mat
Panoramix.sublime-project